
.politique {
    justify-content: space-between;
    background-image: url(../../image/feuille.jpeg);
    background-size: cover;
    height: 500px;
    padding-top: 1px;
}

.text{
    color: white;
    text-align: center;
    padding-top: 20px;
}

.text h1{
    color: white;
    margin: 26px;
    font-size: 20px;


}

.text p{
    color: white;
    margin: 30px;
    font-size: 14px;

}


.list-inline{
    list-style:none;
    margin-left:0;
    padding-left:0;
}
li{
        color:white;        
        display: inline;
        font-size: 45px;
}

a{
    color: white;
    margin-right: 10px;
    margin-left: 20px;
}

a:hover {
    color: pink;
}

 @media(max-width: 960px) {
    .politique{
        width: 700px;
    }
}

@media (max-width: 720px) {
   .politique{
        width: 500px;
    }
}

@media(max-width: 540px) {
   .politique {
        width: 300px;
    }
}